<div mat-dialog-content class="text-center">
  <p>{{ data.content }}</p>
</div>
<div mat-dialog-actions class="custom-dialog-actions">
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="data.content"
    cdkFocusInitial
  >
    Yes
  </button>
  <button mat-button color="warn" (click)="onNoClick()">No</button>
</div>
