<div class="table-wrapper h-full shadow-lg">
  <div
    class="table-temp xl:h-[500px] md:h-[300px] sm:h-[200px] align-middle inline-block w-full border-0 rounded bg-white shadow-dashboard">
    <div class="scrollable-table relative">
      <table class="w-full">
        <thead class="bg-gray-200 sticky top-0 z-10">
          <tr>
            <th *ngFor="let item of columns" class="px-6 py-3 text-left text-sm leading-4 tracking-wider">
              {{ item.displayName }}
            </th>
            <th class="px-4 py-3"></th>
          </tr>
        </thead>
        <!-- tablebody -->
        <tbody *ngIf="hasRecord" class="bg-white">
          <tr *ngFor="let item of rows">
            <td *ngFor="let col of columns" class="px-6 py-4 border-b text-blue-900 border-gray-500 text-sm leading-5">
              {{ item[col.key] }}
            </td>
            <td
              class="px-4 pySocketException: An existing connection was forcibly closed by the remote host-4 whitespace-nowrap text-right border-b border-gray-500 text-sm leading-5">
              <button *ngIf="hasDetail" (click)="detailItem(item['id'])" matTooltip="Detail"
                [matTooltipPosition]="'above'" data-tippy-content="View details"
                class="px-2 mx-1 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">
                <i class="fa-regular fa-eye mx-1"></i>
              </button>
              <button *ngIf="hasEdit&&recordCanEdit" (click)="editItem(item['id'])" matTooltip="Edit"
                [matTooltipPosition]="'above'" data-tippy-content="Edit"
                class="px-2 mx-1 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">
                <i class="fa-solid fa-pen-to-square mx-1"></i>
              </button>
              <button *ngIf="hasDelete" (click)="deleteItem(item['id'])" matTooltip="Delete"
                [matTooltipPosition]="'above'" data-tippy-content="Delete"
                class="px-2 mx-1 py-2 border-red-500 border text-red-500 rounded transition duration-300 hover:bg-red-700 hover:text-white focus:outline-none">
                <i class="fa-solid fa-trash mx-1"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="hasRecord"
      class="paginate sticky bottom-0 z-10 py-3 px-2 bg-gray-100 sm:flex-1 sm:flex sm:items-center sm:justify-between work-sans">
      <div>
        <p class="text-sm leading-5 text-blue-700">
          Showing
          <span class="font-medium">{{
            1 + (currentPage - 1) * pageSize
            }}</span>
          to
          <span class="font-medium">{{
            pageSize + (currentPage - 1) * pageSize
            }}</span>
          of
          <span class="font-medium">{{ totalRecord }}</span>
          results
        </p>
      </div>
      <div>
        Show
        <select [ngModel]="pageSize" (ngModelChange)="selectPageSize($event)" class="total-entries">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
        entries
      </div>
      <div>
        <nav class="relative z-0 inline-flex shadow-sm">
          <div>
            <button (click)="selectPage(currentPage - 1)" *ngIf="hasPreviousPage"
              class="-ml-px font-bold rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium text-blue-700 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              < </button>
          </div>

          <div>
            <button (click)="selectPage(1)" *ngIf="currentPage != 0 && currentPage > 1"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              1
            </button>
            <button *ngIf="currentPage - 3 > 1"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              ...
            </button>
            <button (click)="selectPage(currentPage - 2)" *ngIf="currentPage - 2 > 1"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              {{ currentPage - 2 }}
            </button>
            <button (click)="selectPage(currentPage - 1)" *ngIf="currentPage - 1 > 1"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              {{ currentPage - 1 }}
            </button>
            <button (click)="selectPage(currentPage)"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-blue-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              {{ currentPage }}
            </button>
            <button (click)="selectPage(currentPage + 1)" *ngIf="currentPage + 1 < totalPage"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              {{ currentPage + 1 }}
            </button>
            <button (click)="selectPage(currentPage + 2)" *ngIf="currentPage + 2 < totalPage"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              {{ currentPage + 2 }}
            </button>
            <button *ngIf="currentPage + 3 < totalPage"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              ...
            </button>
            <button (click)="selectPage(totalPage)" *ngIf="totalPage > 1 && totalPage > currentPage"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-blue-600 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              {{ totalPage }}
            </button>
          </div>
          <div>
            <button (click)="selectPage(currentPage + 1)" *ngIf="hasNextPage"
              class="-ml-px rounded-full border-0 hover:bg-gray-300 text-gray-500 relative inline-flex items-center px-4 py-2 border border-gray-300 bg-blue-700text-sm leading-5 font-medium text-blue-700 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-tertiary active:text-gray-700 transition ease-in-out duration-150 hover:bg-tertiary">
              >
            </button>
          </div>
        </nav>
      </div>
    </div>
    <div *ngIf="isLoading" class="h-full flex items-center justify-center">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="rows?.length==0" class="h-full flex items-center justify-center">

      No records match the above conditions
    </div>
  </div>
</div>

<!-- <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
    <div class="text-sm leading-5 text-blue-900">Damilare Anjorin</div>
</td>
<td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
    damilareanjorin1&#64;gmail.com</td>
<td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
    +2348106420637</td>

<td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500 text-blue-900 text-sm leading-5">
    September 12</td> 
<td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm leading-5">
                        <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                            <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                            <span class="relative text-xs">active</span>
                        </span>
                    </td>
-->

<!-- 
    <div
        class="align-middle rounded-tl-lg rounded-tr-lg inline-block w-full py-4 overflow-hidden bg-white shadow-lg px-12">
        <div class="flex justify-between">
            <div class="inline-flex border rounded w-7/12 px-2 lg:px-6 h-12 bg-transparent">
                <div class="flex flex-wrap items-stretch w-full h-full mb-6 relative">
                    <div class="flex">
                        <button
                            class="flex items-center leading-normal bg-transparent rounded rounded-r-none border border-r-0 border-none lg:px-3 py-2 whitespace-no-wrap text-grey-dark text-sm">
                            <svg width="18" height="18" class="w-4 lg:w-auto" viewBox="0 0 18 18" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8.11086 15.2217C12.0381 15.2217 15.2217 12.0381 15.2217 8.11086C15.2217 4.18364 12.0381 1 8.11086 1C4.18364 1 1 4.18364 1 8.11086C1 12.0381 4.18364 15.2217 8.11086 15.2217Z"
                                    stroke="#455A64" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.9993 16.9993L13.1328 13.1328" stroke="#455A64" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                        </button>
                    </div>
                    <input type="text"
                        class="flex-shrink flex-grow flex-auto leading-normal tracking-wide w-px flex-1 border border-none border-l-0 rounded rounded-l-none px-3 relative focus:outline-none text-xxs lg:text-xs lg:text-base text-gray-500 font-thin"
                        placeholder="Search">
                </div>
            </div>
        </div>
    </div> -->