<div class="pt-[40px] h-full ">
    <div class="relative overflow-auto h-[90%] rounded shadow-2xl">
        <div class="font-bold text-white bg-[#717D88] px-3 py-3 top-0 sticky z-20">
            ADD SCHEDULE
        </div>
        <div class="bg-white h-[100%] px-3 py-3">
            <form [formGroup]="scheduleForm" (ngSubmit)="handleSubmit()">
                <div class="grid grid-cols-2 gap-x-10 gap-y-5">

                    <!-- Title -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Schedule title <span class="text-rose-600">*</span>
                        </div>
                        <div class="w-full col-span-3">
                            <mat-form-field class="w-full">
                                <input formControlName="title" matInput #title maxlength="255" type="text"
                                    [(ngModel)]="titileValue" placeholder="Type a title ...">
                                @if (titileValue) {
                                <button matSuffix mat-icon-button aria-label="Clear" (click)="titileValue=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                }
                                <mat-hint align="end">{{title.value.length}} / 255</mat-hint>
                            </mat-form-field>
                            <!-- Validation message -->
                            <div class="text-rose-600 "
                                *ngIf=" scheduleForm.get('title').touched && scheduleForm.get('title').errors?.['required']">
                                Title is required.
                            </div>
                        </div>
                    </div>
                    <!-- End Title -->

                    <!-- Job -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Job <span class="text-rose-600">*</span>
                        </div>
                        <div class="w-full col-span-3">
                            <mat-form-field class="w-full">
                                <div class="flex">
                                    <mat-chip-grid #chipGridJob aria-label="Job selection">
                                        @for (job of job(); track $index) {
                                        <mat-chip-row style="margin: 0;" (removed)="removeJob(job)">
                                            {{job}}
                                            <button matChipRemove [attr.aria-label]="'remove' + job">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip-row>
                                        }
                                        <input formControlName="jobId"
                                            [placeholder]="isShowPlaceholderJob ? 'Select a job' : ''" #jobInput
                                            [(ngModel)]="displayChipJob" [matChipInputFor]="chipGridJob"
                                            [matAutocomplete]="autoJob"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
                                    </mat-chip-grid>
                                </div>
                                <mat-autocomplete #autoJob="matAutocomplete" (optionSelected)="selectedJob($event)">
                                    @for (job of filteredJobs(); track job) {
                                    <mat-option [value]="job.value"
                                        (onSelectionChange)="selectedJobValue(job.value)">{{job.label}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- Validation message -->
                            <div class="text-rose-600 "
                                *ngIf="scheduleForm.get('jobId').touched &&scheduleForm.get('jobId').errors?.['required']">
                                Job is required.
                            </div>
                        </div>
                    </div>
                    <!-- End job -->

                    <!-- Candidate -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Candidate <span class="text-rose-600">*</span>
                        </div>
                        <div class=" w-full col-span-3">
                            <mat-form-field class="w-full">
                                <div class="flex">
                                    <mat-chip-grid #chipGridCandidate aria-label="Candidate selection">
                                        @for (candidate of candidate(); track $index) {
                                        <mat-chip-row style="margin: 0;" (removed)="removeCandidate(candidate)">
                                            {{candidate}}
                                            <button matChipRemove [attr.aria-label]="'remove ' + candidate">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip-row>
                                        }
                                        <input formControlName="candidateId"
                                            [placeholder]="isShowPlaceholderCandidate? 'Select a candidate' : ''"
                                            #candidateInput [(ngModel)]="displayChipCandidate"
                                            [matChipInputFor]="chipGridCandidate" [matAutocomplete]="autoCandidate"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
                                    </mat-chip-grid>
                                </div>
                                <mat-autocomplete #autoCandidate="matAutocomplete"
                                    (optionSelected)="selectedCandidate($event)">
                                    @for (candidate of filteredCandidates(); track candidate) {
                                    <mat-option (onSelectionChange)="selectedCandidateValue(candidate.value)"
                                        [value]="candidate.value">{{candidate.label}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- Validation message -->
                            <div class="text-rose-600 "
                                *ngIf="scheduleForm.get('candidateId').touched &&scheduleForm.get('candidateId').errors?.['required']">
                                Candidate is required.
                            </div>
                        </div>
                    </div>
                    <!-- End candidate -->

                    <!-- Interviewer -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Interviewer <span class="text-rose-600">*</span>
                        </div>
                        <div class="w-full col-span-3">
                            <mat-form-field class="w-full">
                                <div class="flex">
                                    <mat-chip-grid #chipGridInterviewer aria-label="Interviewer selection">
                                        @for (interviewer of interviewers(); track $index) {
                                        <mat-chip-row style="margin: 0;" (removed)="removeInterviewer(interviewer)">
                                            {{interviewer.label}}
                                            <button matChipRemove [attr.aria-label]="'remove ' + interviewer.label">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip-row>
                                        }
                                        <input placeholder="Select interviewer..." #interviewerInput
                                            [matChipInputFor]="chipGridInterviewer" [matAutocomplete]="autoInterviewer"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
                                    </mat-chip-grid>
                                </div>
                                <mat-autocomplete #autoInterviewer="matAutocomplete"
                                    (optionSelected)="selectedInterviewer($event)">
                                    @for (interviewer of filteredInterviewers(); track interviewer) {
                                    <mat-option [value]="interviewer">{{interviewer.label}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- Validation message -->
                            <div class="text-rose-600 "
                                *ngIf="scheduleForm.get('interviewerId').touched &&scheduleForm.get('interviewerId').errors?.['arrayNotEmpty']">
                                Interviewer is required.
                            </div>
                        </div>
                    </div>
                    <!-- End interviewer -->

                    <!-- Date -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Schedule time <span class="text-rose-600">*</span>
                        </div>
                        <div class=" w-full col-span-3">
                            <div class="w-full">
                                <mat-form-field class="w-full">
                                    <input formControlName="scheduleDate" matInput [matDatepicker]="picker"
                                        placeholder="DD/MM/YYYY" [min]="startDate">
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker startView="multi-year"
                                        [startAt]="startDate"></mat-datepicker>
                                </mat-form-field>
                                <!-- Validation message -->
                                <div class="text-rose-600 "
                                    *ngIf="scheduleForm.get('scheduleDate').touched &&scheduleForm.get('scheduleDate').errors?.['required']">
                                    Schedule time is required.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Date -->

                    <!-- Location -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Location
                        </div>
                        <div class=" w-full col-span-3">
                            <mat-form-field class="w-full">
                                <input formControlName="location" matInput #location maxlength="255" type="text"
                                    [(ngModel)]="locationValue" placeholder="Type a title ...">
                                @if (locationValue) {
                                <button matSuffix mat-icon-button aria-label="Clear" (click)="locationValue=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                }
                                <mat-hint align="end">{{location.value.length}} / 255</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- End Location -->

                    <!-- Time -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                        </div>
                        <div class=" w-full col-span-3">
                            <div class="w-full">
                                <div class="w-full flex justify-between">
                                    <div>
                                        <label class="me-5">From:</label>
                                        <app-input-timepicker name="startTime"
                                            formControlName="startTime"></app-input-timepicker>
                                        <!-- Validation message -->
                                        <div class="text-rose-600 "
                                            *ngIf="scheduleForm.get('startTime').touched && scheduleForm.get('startTime').errors?.['required']">
                                            Schedule time from is required.
                                        </div>
                                    </div>
                                    <div>
                                        <label class="me-5">To:</label>
                                        <app-input-timepicker name="endTime"
                                            formControlName="endTime"></app-input-timepicker>
                                        <!-- Validation message -->
                                        <div class="text-rose-600 "
                                            *ngIf="scheduleForm.get('endTime').touched && scheduleForm.get('endTime').errors?.['required']">
                                            Schedule time to is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End time -->

                    <!-- Recruiter -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Recruiter owner <span class="text-rose-600">*</span>
                        </div>
                        <div class="w-full col-span-3 gap-0">
                            <a class="underline hover:cursor-pointer" (click)="assignMe()">Assign me</a>
                            <mat-form-field class="w-full">
                                <div class="flex">
                                    <mat-chip-grid #chipGridRecruiter aria-label="Recruiter selection">
                                        @for (recruiter of recruiter(); track $index) {
                                        <mat-chip-row style="margin: 0;" (removed)="removeRecruiter(recruiter)">
                                            {{recruiter}}
                                            <button matChipRemove [attr.aria-label]="'remove ' + recruiter">
                                                <mat-icon>cancel</mat-icon>
                                            </button>
                                        </mat-chip-row>
                                        }
                                        <input formControlName="recruiterOwnerId"
                                            [placeholder]="isShowPlaceholderRecruiter ? 'Select recruiter' : ''"
                                            #recruiterInput [(ngModel)]="displayChipRecruiter"
                                            [matChipInputFor]="chipGridRecruiter" [matAutocomplete]="autoRecruiter"
                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" />
                                    </mat-chip-grid>
                                </div>
                                <mat-autocomplete #autoRecruiter="matAutocomplete"
                                    (optionSelected)="selectedRecruiter($event)">
                                    @for (recruiter of filteredRecruiters(); track candidate) {
                                    <mat-option (onSelectionChange)="selectedRecruiterValue(recruiter.value)"
                                        [value]="recruiter.value">{{recruiter.label}}</mat-option>
                                    }
                                </mat-autocomplete>
                            </mat-form-field>
                            <!-- Validation message -->
                            <div class="text-rose-600 "
                                *ngIf="scheduleForm.get('recruiterOwnerId').touched &&scheduleForm.get('recruiterOwnerId').errors?.['required']">
                                Recruiter is required.
                            </div>
                        </div>
                    </div>
                    <!-- End Recruiter -->

                    <!-- Note -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Note
                        </div>
                        <div class="w-full col-span-3">
                            <mat-form-field class="w-full">
                                <textarea formControlName="note" matInput
                                    placeholder="Type schedule note..."></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- End Note -->

                    <!-- Meeting Id -->
                    <div class="grid grid-cols-4 gap-2">
                        <div class="font-bold mt-5">
                            Meeting ID
                        </div>
                        <div class="w-full col-span-3">
                            <mat-form-field class="w-full">
                                <input formControlName="meetingId" matInput #title maxlength="255" type="text"
                                    [(ngModel)]="meetingIdValue" placeholder="Type a title ...">
                                @if (meetingIdValue) {
                                <button matSuffix mat-icon-button aria-label="Clear" (click)="meetingIdValue=''">
                                    <mat-icon>close</mat-icon>
                                </button>
                                }
                                <mat-hint align="end">{{title.value.length}} / 255</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Meeting Id -->

                </div>
                <div class="flex justify-center py-6 ">
                    <button type="submit" mat-raised-button color="primary" class="mx-6"
                        (click)="scheduleForm.markAllAsTouched()">SUBMIT</button>
                    <button mat-raised-button color="warn" class="mx-6" (click)="goBack()">CANCEL</button>
                </div>
            </form>
        </div>
    </div>
</div>