<div class="add-offer-wrapper pt-[40px] h-full ">
    <div class="relative overflow-auto offer-detail-container h-[90%] rounded  shadow-2xl">
      <div class="offer-detail-header font-bold text-white bg-[#717D88]  px-3 py-3 top-0 sticky z-20">
        ADD USER
      </div>
      <div class="bg-white h-[100%]  px-3 py-3">
        <form [formGroup]="userForm" >
          <div class="lg:flex">
            <div class="md:w-full lg:w-1/2 lg:p-5">
                <div class="lg:flex my-5 ">
                    <div class="font-bold lg:w-1/5 ">Full name:</div>
                    <div class="lg:w-4/5 ml-4">
                      <mat-form-field class="w-[60%]  ">
                        <mat-label>Full name</mat-label>
                        <input formControlName="fullName" matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="lg:flex my-5">
                    <div class="font-bold lg:w-1/5">D.O.B:</div>
                    <div class="lg:w-4/5 ml-4">
                      <mat-form-field class="w-[60%] lg:mb-5">
                        <mat-label>From (<mat-hint>MM/DD/YYYY</mat-hint>)</mat-label>
                        <input formControlName="dateOfBirth" matInput [matDatepicker]="DOB">
                        <mat-datepicker-toggle matIconSuffix [for]="DOB"></mat-datepicker-toggle>
                        <mat-datepicker #DOB></mat-datepicker>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="lg:flex my-5">
                    <div class="font-bold lg:w-1/5">Phone Number:</div>
                    <div class="lg:w-4/5 ml-4">
                      <mat-form-field class="w-[60%]">
                        <mat-label>Phone Number</mat-label>
                        <input formControlName="phoneNumber" matInput />
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="lg:flex my-5">
                    <div class="font-bold lg:w-1/5">Role:</div>
                    <div class="lg:w-4/5 ml-4">
                      <mat-form-field class="w-[60%]">
                        <mat-label>Select A Role</mat-label>
                        <mat-select formControlName="roleName">
                          <mat-option *ngFor="let roleName of toSelectRoles"
                            [value]="roleName">{{roleName}}</mat-option>
                        </mat-select>
                        <mat-error
                          *ngIf="userForm.get('roleName').hasError('required') && userForm.get('roleName').touched ">Role
                          is required</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="lg:flex my-5">
                    <div class="font-bold lg:w-1/5">Status:</div>
                    <div class="lg:w-4/5 ml-4">
                      <mat-form-field class="w-[60%]">
                        <mat-label>Select A Status</mat-label>
                        <mat-select formControlName="status">
                          <mat-option *ngFor="let status of toSelectStatuses"
                            [value]="status.value">{{status.label}}</mat-option>
                        </mat-select>
                        
                      </mat-form-field>
                    </div>
                  </div>
              </div>
              
            <div class="md:w-full lg:w-1/2 lg:p-5">
              <div class="lg:flex my-5 ">
                <div class="font-bold lg:w-1/5 ">Email:</div>
                <div class="lg:w-4/5 ml-4">
                  <mat-form-field class="w-[60%]  ">
                    <mat-label>Type an Email</mat-label>
                    <input formControlName="email" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="lg:flex my-5 ">
                <div class="font-bold lg:w-1/5 ">Address:</div>
                <div class="lg:w-4/5 ml-4">
                  <mat-form-field class="w-[60%]  ">
                    <mat-label>Type an Address</mat-label>
                    <input formControlName="address" matInput>
                  </mat-form-field>
                </div>
              </div>
              <div class="lg:flex my-5">
                <div class="font-bold lg:w-1/5">Gender:</div>
                <div class="lg:w-4/5 ml-4">
                  <mat-form-field class="w-[60%]">
                    <mat-label>Select A Gender</mat-label>
                    <mat-select formControlName="gender">
                      <mat-option *ngFor="let gender of toSelectGenders"
                        [value]="gender.value">{{gender.label}}</mat-option>
                    </mat-select>
                    <mat-error
                          *ngIf="userForm.get('gender').hasError('required') && userForm.get('gender').touched ">
                          Gender is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="lg:flex my-5">
                <div class="font-bold lg:w-1/5">Department:</div>
                <div class="lg:w-4/5 ml-4">
                  <mat-form-field class="w-[60%]">
                    <mat-label>Select A Department</mat-label>
                    <mat-select formControlName="departmentId">
                      <mat-option *ngFor="let department of toSelectDepartments" [value]="department.id ">{{
                        department.name
                        }}</mat-option>
                    </mat-select>
                    <mat-error
                    *ngIf="userForm.get('departmentId').hasError('required') && userForm.get('departmentId').touched ">
                    Department is required
              </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="lg:flex my-5 lg:mb-8">
                <div class="font-bold lg:w-1/5">Notes:</div>
                <div class="lg:w-4/5 ml-4">
                  <mat-form-field class="w-[60%]">
                    <mat-label>Notes</mat-label>
                    <textarea formControlName="note" rows="4" matInput></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>
         

          </div>
  
          <div class="flex justify-center py-6 ">
            <button type="submit" mat-raised-button color="primary" class="mx-6" (click)="handleSubmit()">SUBMIT</button>
            <button (click)="handleCancel()"  mat-raised-button color="warn" class=" mx-6">CANCEL</button>
          </div>
        </form>
  
      </div>
  
    </div>
  
  </div>