<div class="h-full  overflow-auto">
    <div class="flex w-full pt-2 items-center">
        <div class="w-5/6 searchbar flex gap-5">

            <!-- Text search field -->
            <mat-form-field class="flex-grow">
                <mat-label>Search</mat-label>
                <input matInput class="h-1" name="search" [(ngModel)]="textSearch" />
            </mat-form-field>

            <!-- Dropdown Interviewer field -->
            <mat-form-field class="flex-grow">
                <mat-label>Interviewer</mat-label>
                <mat-select placeholder="Interviewer" [(ngModel)]="interviewerSelectValue">
                    <mat-option [value]="undefined">All</mat-option>
                    <mat-option [value]="'08dc85fe-de1c-4e2f-82e5-a02971c87a8e'">Interviewer IMS</mat-option>
                    <mat-option [value]="'08dc8882-23f3-40a6-8f76-b7852e98788b'">Nguyen Van Anh</mat-option>
                    <mat-option [value]="'08dc8c24-0d70-49b8-808f-9ac8615c21a7'">Nguyen Van Anh</mat-option>
                    <mat-option [value]="'08dc8c24-2bca-492e-86d1-c21fb8105658'">Nguyen Van Itv</mat-option>
                    <mat-option [value]="'08dc8c24-3251-4508-82e5-e937e070f22d'">All</mat-option>
                    <mat-option *ngFor="let interviewer of interviewerNames" [value]="interviewer.value">
                        {{ interviewer.label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Dropdown Status field -->
            <mat-form-field class="flex-grow">
                <mat-label>Status</mat-label>
                <mat-select placeholder="Status" [(ngModel)]="statusSelectValues">
                    <mat-option [value]="undefined">All</mat-option>
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{ status|scheduleStatus }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="w-1/6 create-button text-start">
            <button mat-raised-button color="primary" class="ml-4" (click)="handleSearch()">
                Search
            </button>
        </div>
    </div>
    <div class="flex w-full pb-2 items-center justify-end">
        <a mat-raised-button color="primary" [routerLink]="['/schedule/add-schedule' ]" class="ml-3">Add
            New</a>
    </div>
    <div class="table-content w-full">
        <app-table table [rows]="schedules?.items" [columns]="cols" [currentPage]="schedules?.pageIndex"
            [pageSize]="schedules?.pageSize" [totalPage]="schedules?.totalPages" [totalRecord]="schedules?.totalRecord"
            [hasPreviousPage]="schedules?.hasPreviousPage" [hasNextPage]="schedules?.hasNextPage"
            (currentPageChange)="handleChangePage($event)" (pageSizeChange)="handlePageSizeChange($event)"
            (itemDetail)="handleRedirectDetail($event)" (itemEdit)="handleRedirectEdit($event)" [hasDetail]="true"
            [hasEdit]="true" [hasRecord]="schedules?.items.length>0" [isLoading]="loading"></app-table>
    </div>
</div>