<h1 mat-dialog-title>Export Offer Data to Excel</h1>
<form [formGroup]="exportForm" (ngSubmit)="onExport()">
    <div mat-dialog-content>
        <div class="flex justify-center">
            <mat-form-field appearance="fill" class="mx-3">
                <mat-label>From Date</mat-label>
                <input matInput [matDatepicker]="fromPicker" formControlName="fromDate">
                <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" class="mx-3">
                <mat-label>To Date</mat-label>
                <input matInput [matDatepicker]="toPicker" formControlName="toDate">
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
            </mat-form-field>

        </div>
        <div *ngIf="isDateLessThanError()" class="text-red-600 text-center">
            The start date must be before the end date.
        </div>
        <div *ngIf="isPastDateError()" class="text-red-600  text-center">
            To Date must be in the past
        </div>
    </div>

    <div mat-dialog-actions>
        <div class="flex justify-around w-full">
            <button mat-button color="primary" type="submit">Export</button>
            <button mat-button type="button" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</form>