<div class="bg-gray-900">
    <div class="flex justify-center h-screen">
        <div class="hidden bg-cover lg:block lg:w-2/3"
            style="background-image: url('../../../../../assets/images/login-image.jpeg')">
            <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
                <div>
                    <h2 class="text-4xl font-bold text-white">Brand</h2>

                    <p class="max-w-xl mt-3 text-gray-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
                        autem ipsa, nulla laboriosam dolores, repellendus perferendis libero suscipit nam temporibus
                        molestiae</p>
                </div>
            </div>
        </div>

        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
            <div class="flex-1">
                <div class="text-center">
                    <div class="flex justify-center mb-4">
                        <img class="w-[170px] " src="../../../../../assets/images/logo.jpg">
                    </div>


                    <p class=" mt-3 text-gray-500 dark:text-gray-300">Sign in to access your account</p>
                </div>

                <div class="mt-8">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div>
                            <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Email
                                Address</label>
                            <input formControlName="email" placeholder="example@example.com"
                                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched"
                                class="text-red-600 text-sm mt-1">
                                @if(loginForm.get('email').errors['required']){
                                <div>Email is required.</div>
                                }@else if (loginForm.get('email').errors['email']) {
                                <div>Invalid email address.</div>
                                }
                            </div>
                        </div>

                        <div class="mt-6">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm text-gray-600 dark:text-gray-200">Password</label>
                                <a [routerLink]="['/forgot-password']"
                                    class="text-sm text-gray-400 focus:text-blue-500 hover:text-blue-500 hover:underline">Forgot
                                    password?</a>

                            </div>
                            <input formControlName="password" type="password" placeholder="Your Password"
                                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"
                                class="text-red-600 text-sm mt-1">
                                @if(loginForm.get('password').errors['required']){
                                <div *ngIf="">Password is required.</div>
                                }@else if (loginForm.get('password').errors['strongPassword']) {
                                @if(!loginForm.get('password').errors['strongPassword'].hasUpperCase){
                                <div>
                                    Password must contain at least one uppercase letter.</div>
                                }@else if(!loginForm.get('password').errors['strongPassword'].hasLowerCase){
                                <div>
                                    Password must contain at least one uppercase letter.</div>
                                }@else if(!loginForm.get('password').errors['strongPassword'].hasNumeric){
                                <div>
                                    Password must contain at least one lowercase letter.</div>
                                }@else if(!loginForm.get('password').errors['strongPassword'].hasSpecialChar){
                                <div>Password
                                    must contain at least one number.</div>
                                }@else if(!loginForm.get('password').errors['strongPassword'].isValidLength){
                                <div>
                                    Password must be at least 8 characters long.</div>
                                }
                                }
                            </div>

                        </div>
                        <div class="mt-6">
                            <button type="submit"
                                class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                                Sign in
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>