$base-color: #8bf5b0;
.multiselect-dropdown {
  .dropdown-btn {
    .selected-item {
      background-color: $base-color !important;
      border-radius: 6px !important;
      max-width: none !important;
      border: none !important;
    }
  }
}
.custom-dropdown-4 {
  width: 340px;
  display: block;
}
.custom-dropdown-3 {
  width: 320px;
  display: block;
}
.custom-dropdown-2 {
  width: 300px;
  display: block;
}
.custom-dropdown-1 {
  width: 280px;
  display: block;
}
