<button mat-button [matMenuTriggerFor]="notify" (click)="ReadAllNotify()">
    <i class="fa-solid fa-bell"></i>
    <sup *ngIf="!isAllRead" class="text-rose-600">
        <i class="fa-solid fa-circle"></i>
    </sup>
</button>
<mat-menu #notify="matMenu" xPosition="before" class="notify-list w-80 h-80">
    <div class="notify-list-item">
        <button mat-menu-item>Item 1</button>
        <mat-divider></mat-divider>
    </div>
</mat-menu>