<div class="pt-[40px] h-full ">
    <div class="flex w-full pb-2 items-center justify-end">
        <a mat-raised-button color="primary" class="ml-3">Send reminder</a>
    </div>
    <div class="relative overflow-auto h-[90%] rounded shadow-2xl">
        <div class="font-bold text-white bg-[#717D88] px-3 py-3 top-0 sticky z-20">
            Interview schedule details
        </div>
        <div class="bg-white h-[100%] px-5 py-5">
            <div class="grid grid-cols-2 gap-x-10 gap-y-5">

                <!-- Title -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Schedule title:
                    </div>
                    <div class="w-full col-span-3">
                        <p>{{schedule?.title}}</p>
                    </div>
                </div>
                <!-- End Title -->

                <!-- Job -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Job:
                    </div>
                    <div class="w-full col-span-3">
                        <p>{{schedule?.job.title}}</p>
                    </div>
                </div>
                <!-- End job -->

                <!-- Candidate name-->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Candidate name:
                    </div>
                    <div class="w-full col-span-3">
                        <p>{{schedule?.candidate.fullName}}</p>
                    </div>
                </div>
                <!-- End candidate -->

                <!-- Interviewer -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Interviewer:
                    </div>
                    <div class="w-full col-span-3">
                        <p>{{interviewers}}</p>
                    </div>
                </div>
                <!-- End interviewer -->

                <!-- Schedule time -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Schedule time:
                    </div>
                    <div class="w-full col-span-3">
                        <div class="w-full">
                            <p>{{schedule?.scheduleDate}}</p>
                            <p>From {{schedule?.startTime}} To {{schedule?.endTime}}</p>
                        </div>
                    </div>
                </div>
                <!-- End Schedule time -->

                <!-- Location -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Location:
                    </div>
                    <div class="w-full col-span-3">
                        <p>{{schedule?.location? schedule?.location : "N/A"}}</p>
                    </div>
                </div>
                <!-- End Location -->

                <!-- Note -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Note:
                    </div>
                    <div class="w-full col-span-3">
                        <p>{{schedule?.note? schedule?.note:"N/A"}}</p>
                    </div>
                </div>
                <!-- End Note -->

                <!-- Recruiter name -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Recruiter owner:
                    </div>
                    <div class="w-full col-span-3 gap-0">
                        <p>{{schedule?.recruiterOwner.fullName}}</p>
                    </div>
                </div>
                <!-- End Recruiter name -->

                <div></div>

                <!-- Meeting Id -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Meeting ID:
                    </div>
                    <div class="w-full col-span-3">
                        <p>{{schedule?.meetingId? schedule?.meetingId :"N/A"}}</p>
                    </div>
                </div>
                <!-- Meeting Id -->

                <div></div>

                <!-- Result -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Result:
                    </div>
                    <div class="w-full col-span-3">
                        <p>{{schedule?.result|scheduleResult}}</p>
                    </div>
                </div>
                <!-- End Result -->

                <div></div>

                <!-- Status -->
                <div class="grid grid-cols-4 gap-2">
                    <div class="font-bold">
                        Status:
                    </div>
                    <div class="w-full col-span-3">
                        {{schedule?.status|scheduleStatus}}
                    </div>
                </div>
                <!-- End Status -->

            </div>
            <div>
                <div class="flex justify-center mt-7">
                    <a mat-raised-button color="primary" class="ml-3" (click)="handleRedirectEdit()">Edit</a>
                    <a mat-raised-button (click)="goBack()" color="warn" class="ml-3">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</div>