<div class="offer-detail-wrapper pt-[40px] h-full ">
    <div class="status-buttons flex justify-end mb-4">
        <ng-container *ngIf="offer?.status==0">
            <button (click)="handleAction('approve',id)"
                *ngIf="userRole.includes('Admin')||userRole.includes('Manager')" mat-raised-button color="primary"
                class="mx-3">Approve</button>
            <button (click)="handleAction('reject',id)" *ngIf="userRole.includes('Admin')||userRole.includes('Manager')"
                mat-raised-button color="warn" class="mx-3">Reject</button>
            <button (click)="handleAction('cancel',id)" mat-raised-button color="warn" class="mx-3">Cancel</button>
        </ng-container>
        <ng-container *ngIf="offer?.status==1">
            <button (click)="handleAction('sentToCandidate',id)" mat-raised-button color="primary" class="mx-3">Sent to
                Candidate</button>
            <button (click)="handleAction('cancel',id)" mat-raised-button color="warn" class="mx-3">Cancel</button>
        </ng-container>
        <ng-container *ngIf="offer?.status==3">
            <button (click)="handleAction('accept',id)" mat-raised-button color="primary" class="mx-3">Accepted</button>
            <button (click)="handleAction('decline',id)" mat-raised-button color="accent" class="mx-3">Declined</button>
            <button (click)="handleAction('cancel',id)" mat-raised-button color="warn" class="mx-3">Cancel</button>
        </ng-container>
        <ng-container *ngIf="offer?.status==4">
            <button (click)="handleAction('cancel',id)" mat-raised-button color="warn" class="mx-3">Cancel</button>
        </ng-container>
    </div>
    <div class="relative overflow-auto offer-detail-container h-[90%] rounded  shadow-2xl">
        <div class="offer-detail-header font-bold text-white bg-[#717D88]  px-3 py-3 top-0 sticky">
            OFFER DETAIL
        </div>
        <div class="lg:flex  bg-white h-[100%]  px-10 py-10">
            <div class="mds:w-full md:w-1/2 p-5">
                <dl class="lg:flex my-5">
                    <dt class="font-bold lg:w-1/5 ">Candidate</dt>
                    <dd class="lg:w-4/5 ml-3">{{offer?.candidate.fullName}}</dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5 ">Position</dt>
                    <dd class="lg:w-4/5 ml-3">{{offer?.position.name}}</dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold md:w-1/5 ">Approver</dt>
                    <dd class="md:w-4/5 ml-3">{{offer?.approver.fullName}}</dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5 ">Interview Info</dt>
                    <dd class="lg:w-4/5 ml-3">
                        <p>{{offer?.schedule?.title}}</p>
                        <p>{{interviewersName}}</p>
                    </dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5">Contract Period</dt>
                    <dd class="lg:w-4/5 ml-3">
                        <p>From: {{offer?.contractPeriodStart|date}}</p>
                        <p>To: {{offer?.contractPeriodEnd|date}}</p>
                    </dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5">Interview Note</dt>
                    <dd class="lg:w-4/5 ml-3">
                        {{offer?.schedule?.note}}
                    </dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5">Status</dt>
                    <dd class="lg:w-4/5 ml-3">
                        {{offer?.status|offerStatus}}
                    </dd>
                </dl>
            </div>
            <div class="md:w-full lg:w-1/2 p-5">
                <dl class="lg:flex my-5">
                    <dt class="font-bold lg:w-1/5 ">Contact Type</dt>
                    <dd class="lg:w-4/5 ml-3"> {{offer?.contractType|contractType}}</dd>

                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5 ">Level</dt>
                    <dd class="lg:w-4/5 ml-3">{{offer?.attributeDTOs[0]?.value}}</dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold md:w-1/5 ">Department</dt>
                    <dd class="md:w-4/5 ml-3">{{offer?.department.name}}</dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5 ">Recruiter Owner</dt>
                    <dd class="lg:w-4/5 ml-3">{{offer?.recruiter?.fullName}}</dd>

                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5 ">Due Date</dt>
                    <dd class="lg:w-4/5 ml-3">
                        {{offer?.dueDate|date}}
                    </dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5">Basic Salary</dt>
                    <dd class="lg:w-4/5 ml-3">
                        {{offer?.basicSalary|currencyFormat}}
                    </dd>
                </dl>
                <dl class="lg:flex my-5">
                    <dt class="font-bold  lg:w-1/5">Note</dt>
                    <dd class="lg:w-4/5 ml-3">
                        {{offer?.note}}
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>