<div class="bg-white dark:bg-gray-900">
    <div class="flex justify-center h-screen">
        <div class="hidden bg-cover lg:block lg:w-2/3"
            style="background-image: url('../../../../../assets/images/login-image.jpeg')">
            <div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
                <div>
                    <h2 class="text-4xl font-bold text-white">Brand</h2>

                    <p class="max-w-xl mt-3 text-gray-300">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
                        autem ipsa, nulla laboriosam dolores, repellendus perferendis libero suscipit nam temporibus
                        molestiae</p>
                </div>
            </div>
        </div>

        <div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
            <div class="flex-1">
                <div class="text-center">
                    <div class="flex justify-center mb-4">
                        <img class="w-[170px] " src="../../../../../assets/images/logo.jpg">
                    </div>


                    <p class=" mt-3 text-gray-500 ">Reset your password</p>
                </div>

                <div class="mt-8">
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                        <div>
                            <input type="hidden" [value]="email" />
                            <input type="hidden" [value]="token">
                        </div>

                        <div class="mt-6">
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm text-gray-600 dark:text-gray-200">Password</label>

                            </div>
                            <input formControlName="password" type="password" placeholder="Your Password"
                                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="resetPasswordForm.get('password').invalid && resetPasswordForm.get('password').touched"
                                class="text-red-600 text-sm mt-1">
                                @if(resetPasswordForm.get('password').errors['required']){
                                <div *ngIf="">Password is required.</div>
                                }@else if (resetPasswordForm.get('password').errors['strongPassword']) {
                                @if(!resetPasswordForm.get('password').errors['strongPassword'].hasUpperCase){
                                <div>
                                    Password must contain at least one uppercase letter.</div>
                                }@else if(!resetPasswordForm.get('password').errors['strongPassword'].hasLowerCase){
                                <div>
                                    Password must contain at least one uppercase letter.</div>
                                }@else if(!resetPasswordForm.get('password').errors['strongPassword'].hasNumeric){
                                <div>
                                    Password must contain at least one lowercase letter.</div>
                                }@else if(!resetPasswordForm.get('password').errors['strongPassword'].hasSpecialChar){
                                <div>Password
                                    must contain at least one number.</div>
                                }@else if(!resetPasswordForm.get('password').errors['strongPassword'].isValidLength){
                                <div>
                                    Password must be at least 8 characters long.</div>
                                }
                                }
                            </div>

                        </div>
                        <div class="mt-6">
                            <label for="confirmPassword" class="text-sm text-gray-600 dark:text-gray-200">Confirm
                                Password</label>
                            <input formControlName="confirmPassword" type="password" placeholder="Your Confirm Password"
                                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
                            <div *ngIf="resetPasswordForm.get('confirmPassword').invalid && resetPasswordForm.get('confirmPassword').touched"
                                class="text-red-600 text-sm mt-1">
                                @if(resetPasswordForm.get('confirmPassword').errors['required']){
                                <div>Confirm password is required.</div>
                                }@else if (resetPasswordForm.get('confirmPassword').errors['confirmPassword']) {
                                <div>Confirm password must be same with password.</div>
                                }
                            </div>

                        </div>
                        <div class="mt-6">
                            <button type="submit"
                                class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
                                Reset
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>