table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

thead {
  /* background-color: #4caf50; */
  color: white;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

th {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.bg-white {
  background-color: white;
}

.border-none {
  border: none;
}
.error {
  background-color: rgb(252, 106, 106);
}
.valid {
  background-color: #80fd84;
}
