<div class="h-full p-1 overflow-auto">
  <div class="w-3/5 searchbar flex items-center">
    <mat-form-field class="flex-grow">
      <input matInput placeholder="Search..." name="search" [(ngModel)]="searchText" />
    </mat-form-field>
    <mat-form-field class="ml-4">
      <mat-select placeholder="Status" [(ngModel)]="selectedStatus">
        <mat-option [value]="0">All</mat-option>
        <mat-option *ngFor="let status of statuses" [value]="status.id">
          {{ status.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="ml-4 mb-5" (click)="onSearch(searchText, selectedStatus)">
      Search
    </button>
  </div>
  <div class="flex w-full py-5">
    <div class="w-4/5"></div>
    <div *ngIf="[roles.admin, roles.hr, roles.manager].includes(userRole)"
      class="w-1/5 flex justify-center gap-2 create-button text-right">
      <button mat-raised-button color="primary" [routerLink]="['/job/add-job']">
        Add new
      </button>
      <button mat-raised-button color="primary" [routerLink]="['/job/import-job']">
        Import
      </button>
    </div>
  </div>
  <div class="table-content w-full">
    <app-table table [rows]="jobs?.items" [columns]="cols" [currentPage]="jobs?.pageIndex" [pageSize]="jobs?.pageSize"
      [totalPage]="jobs?.totalPages" [totalRecord]="jobs?.totalRecord" [hasPreviousPage]="jobs?.hasPreviousPage"
      [hasNextPage]="jobs?.hasNextPage" (currentPageChange)="handleChangePage(searchText, selectedStatus, $event)"
      (pageSizeChange)="
        handlePageSizeChange(searchText, selectedStatus, $event)
      " (itemDetail)="handleRedirectDetail($event)" (itemEdit)="handleRedirectEditItem($event)"
      (itemDelete)="openConfirmDialog($event)" [hasDetail]="true"
      [hasEdit]="[roles.admin, roles.hr, roles.manager].includes(userRole)"
      [hasDelete]="[roles.admin, roles.hr, roles.manager].includes(userRole)" [hasRecord]="jobs?.items.length > 0"
      [isLoading]="loading"></app-table>
  </div>
</div>