<div class="bg-orange-500 h-full flex items-center justify-center bg-[#7B7B7B]">
    <div class=" w-[700px] ">
        <div>
            <div>
                <div class="w-full max-w-2xl rounded-lg overflow-hidden">

                    <div class="bg-white p-10  text-center text-gray-800 font-lato">
                        <h1 class="text-4xl font-normal tracking-widest">Welcome!</h1>
                        <img src="https://img.icons8.com/clouds/100/000000/handshake.png" width="125" height="120"
                            class="mx-auto mt-4" />
                    </div>


                    <div class="bg-white p-3 text-gray-600 font-lato text-lg leading-7 text-center">
                        <p>We're excited to have you get started. First, you need to confirm your account. Just
                            press the button below.</p>
                    </div>


                    <div class="bg-white p-8 text-center">
                        <a href="https://mail.google.com/mail/" target="_blank"
                            class="bg-[#7B7B7B] text-white text-lg font-lato py-4 px-6 rounded-md inline-block">Confirm
                            Account</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>