<div class="h-full overflow-auto">
  <div class="w-3/5 searchbar flex items-center">
    <mat-form-field class="flex-grow">
      <mat-label>Search</mat-label>
      <input matInput class="h-1" name="search" [(ngModel)]="searchText" />
    </mat-form-field>
    <mat-form-field class="ml-4">
      <mat-label>Select a user</mat-label>
      <mat-select placeholder="Role" [(ngModel)]="selectedRole">
        <mat-option [value]="">All</mat-option>
        <mat-option *ngFor="let role of roleNames" [value]="role.value">
          {{ role.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" class="ml-4 mb-5" (click)="handleSearch()">
      Search
    </button>
  </div>
  <div class="flex w-full py-2">
    <div class="w-4/5"></div>
    <div class="w-1/5 create-button text-right">
      <button mat-raised-button color="primary" [routerLink]="['/user/add-user']">
        Add new
      </button>
    </div>
  </div>
  <div class="table-content w-full">
    <app-table table [rows]="users?.items" [columns]="cols" [currentPage]="users?.pageIndex"
      [pageSize]="users?.pageSize" [totalPage]="users?.totalPages" [totalRecord]="users?.totalRecord"
      [hasPreviousPage]="users?.hasPreviousPage" [hasNextPage]="users?.hasNextPage" [hasDetail]="true" [hasEdit]="true"
      [hasRecord]="users?.items.length > 0" (currentPageChange)="handleChangePage($event)"
      (pageSizeChange)="handlePageSizeChange($event)" (itemDetail)="handleRedirectDetail($event)"
      (itemEdit)="handleRedirectEdit($event)" [isLoading]="loading">
    </app-table>
  </div>
</div>