<div class="custom-select rounded-none">

    <select (change)="onChange($event)" class="rounded-none">
        <option *ngFor="let option of options" [value]="option.value">{{ option.label }}</option>
    </select>
    <span class="title">Candidate</span>
    <i class="fa-solid fa-chevron-down icon"></i>
</div>