.custom-select {
  margin-top: 10px;
  min-width: 350px;
  position: relative;
}

select {
  width: 14rem;
  height: 3rem;
  padding-left: 15px;
  font-size: 16px;
  border: 1.9px solid lightgray;
  border-radius: 0px;
  color: #39325a;
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #fff;
}
.title {
  color: #908d92;
  position: absolute;
  top: -10px;
  left: 14px;
  background: #fff;
  width: 66px;
  height: 22px;
  text-align: center;
  font-size: 15px;
}
.icon {
  position: relative;
  font-size: 12px;
  color: #908d92;
  left: -33px;
  padding: 19px 9px 15px 9px;
}
