<div class="wrapper flex justify-between pl-5 pr-3">
    <app-breadcrumb></app-breadcrumb>
    <div class="user-info ">
        <div>
            <app-notification></app-notification>
        </div>
        <div class="role">
            <p class="text-md"><strong>{{user?.email}}</strong></p>
            <p>{{user?.roles}}</p>
        </div>
        <div class="flex flex-row">
            <button (click)="onLogout()"><i class="fas fa-sign-out"></i></button>
        </div>
    </div>
</div>