<div class="add-offer-wrapper pt-[40px] h-full ">
  <div class="relative overflow-auto offer-detail-container h-[90%] rounded  shadow-2xl">
    <div class="offer-detail-header font-bold text-white bg-[#717D88]  px-3 py-3 top-0 sticky z-20">
      EDIT OFFER
    </div>
    <div class="  bg-white h-[100%]  px-3 py-3">
      <form [formGroup]="offerForm" (ngSubmit)="handleSubmit()">
        <div class="lg:flex">
          <div class="md:w-full lg:w-1/2 lg:p-5">
            <div class="lg:flex my-5">
              <div class="font-bold lg:w-1/5 ">Candidate:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Select Candidate Name</mat-label>
                  <mat-select formControlName="candidateId" (selectionChange)="handleChangeCandidate($event.value)"
                    [value]="offer?.candidate.id">
                    <mat-option *ngFor="let candidate of candidateNames"
                      [value]="candidate.value">{{candidate.label}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="offerForm.get('candidateId').hasError('required') && offerForm.get('candidateId').touched ">Candidate
                    Name is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex my-5">
              <div class="font-bold lg:w-1/5 ">Position:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Select A Position</mat-label>
                  <mat-select formControlName="positionId" [value]="offer?.positionId">
                    <mat-option *ngFor="let position of positionNames"
                      [value]="position.value">{{position.label}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="offerForm.get('positionId').hasError('required') && offerForm.get('positionId').touched ">Position
                    is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex my-5">
              <div class="font-bold lg:w-1/5 ">Approver:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Select A Approver</mat-label>
                  <mat-select formControlName="managerId" [value]="offer?.managerId">

                    <mat-option *ngFor="let approver of approverNames"
                      [value]="approver.value">{{approver.label}}</mat-option>

                  </mat-select>
                  <mat-error
                    *ngIf="offerForm.get('managerId').hasError('required') && offerForm.get('managerId').touched ">Approver
                    Name is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex my-5">
              <div class="font-bold lg:w-1/5 ">Interview Info:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Interview Info</mat-label>
                  <mat-select formControlName="scheduleId" [value]="offer?.scheduleId"
                    (selectionChange)="handleChangeSchedule($event.value)">
                    <mat-option *ngFor="let schedule of schedules" [value]="schedule.id">{{schedule.title}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex my-5 lg:mb-8">
              <div class="font-bold lg:w-1/5">Interview Notes:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%]">
                  <textarea matInput readonly [value]="offer?.schedule?.note">{{selectedSchedule?.note}} </textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex my-5">
              <div class="font-bold lg:w-1/5 ">Contract Period:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] lg:mb-5">
                  <mat-label>From (<mat-hint>MM/DD/YYYY</mat-hint>)</mat-label>
                  <input formControlName="contractPeriodStart" matInput [matDatepicker]="contractPeriodFrom">
                  <mat-datepicker-toggle matIconSuffix [for]="contractPeriodFrom"></mat-datepicker-toggle>
                  <mat-datepicker #contractPeriodFrom></mat-datepicker>
                  <mat-error
                    *ngIf="offerForm.get('contractPeriodStart').hasError('required') && offerForm.get('contractPeriodStart').touched ">Contract
                    Period Start is required</mat-error>
                </mat-form-field>
                <mat-form-field class="w-[60%] ">
                  <mat-label>To (<mat-hint>MM/DD/YYYY</mat-hint>)</mat-label>
                  <input formControlName="contractPeriodEnd" matInput [matDatepicker]="contractPeriodTo">
                  <mat-datepicker-toggle matIconSuffix [for]="contractPeriodTo"></mat-datepicker-toggle>
                  <mat-datepicker #contractPeriodTo></mat-datepicker>
                  <mat-error
                    *ngIf="offerForm.get('contractPeriodEnd').hasError('required') && offerForm.get('contractPeriodEnd').touched ">Contract
                    Period End is required</mat-error>
                </mat-form-field>
                <div *ngIf="isDateLessThanError()" class="text-red-600">
                  The start date must be before the end date.
                </div>
              </div>
            </div>
            <div class="lg:flex my-5 lg:mb-8">
              <div class="font-bold lg:w-1/5">Interview Notes:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%]">
                  <input matInput readonly [value]="offer?.status|offerStatus">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="md:w-full lg:w-1/2 lg:p-5">
            <div class="lg:flex my-5 ">
              <div class="font-bold lg:w-1/5 ">Contract Type:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Select a type of contract</mat-label>
                  <mat-select formControlName="contractType" [value]="offer?.contractType">
                    <mat-option *ngFor="let typeContract of contractTypes" [value]="typeContract">{{
                      typeContract|contractType
                      }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="offerForm.get('contractType').hasError('required') && offerForm.get('contractType').touched ">Contract
                    Type is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex my-5 ">
              <div class="font-bold lg:w-1/5 ">Level:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Select a level</mat-label>
                  <mat-select formControlName="level" [value]="offer?.attributeDTOs[0]?.id">

                    <mat-option *ngFor="let level of levelNames" [value]="level.value ">{{
                      level.label
                      }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="offerForm.get('level').hasError('required') && offerForm.get('level').touched ">Level
                    is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex my-5 ">
              <div class="font-bold lg:w-1/5 ">Department:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Select A Department</mat-label>
                  <mat-select formControlName="departmentId" [value]="offer?.departmentId">

                    <mat-option *ngFor=" let department of departmentNames" [value]="department.value">{{
                      department.label
                      }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="offerForm.get('departmentId').hasError('required') && offerForm.get('departmentId').touched ">Department
                    is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="lg:flex my-5 ">
              <div class="font-bold lg:w-1/5 ">Recruiter Owner:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Select A Recruiter</mat-label>
                  <mat-select formControlName="recruiterId" [value]="offer?.recruiterId">
                    <mat-option *ngFor="let hr of hrNames" [value]="hr.value">{{hr.label}}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="offerForm.get('recruiterId').hasError('required') && offerForm.get('recruiterId').touched ">Recruiter
                    is required</mat-error>
                </mat-form-field>
                <div>
                  <button mat-raised-button color="primary" class=" font-bold block" (click)="assignMe()">ASSIGN
                    ME</button>
                </div>
              </div>
            </div>
            <div class="lg:flex my-5 ">
              <div class="font-bold lg:w-1/5 ">Due date:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%] ">
                  <mat-label>Due date (<mat-hint>MM/DD/YYYY</mat-hint>)</mat-label>
                  <input formControlName="dueDate" matInput [matDatepicker]="dueDate" [value]="offer?.dueDate">
                  <mat-datepicker-toggle matIconSuffix [for]="dueDate"></mat-datepicker-toggle>
                  <mat-datepicker #dueDate></mat-datepicker>
                  <mat-error
                    *ngIf="offerForm.get('dueDate').hasError('required') && offerForm.get('dueDate').touched ">Due Date
                    is required</mat-error>

                </mat-form-field>
                <div *ngIf="isFutureDateError()" class="text-red-600">
                  Due Date must be in the future
                </div>
              </div>
            </div>
            <div class="lg:flex my-5 ">
              <div class="font-bold lg:w-1/5 ">Basic Salary:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%]  ">
                  <mat-label>Basic Salary</mat-label>
                  <input type="number" min="0" formControlName="basicSalary" matInput [value]="offer?.basicSalary">
                  <mat-error
                    *ngIf="offerForm.get('basicSalary').hasError('required') && offerForm.get('basicSalary').touched ">Basic
                    Salary
                    is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class=" lg:flex my-5 lg:mb-8">
              <div class="font-bold lg:w-1/5">Notes:</div>
              <div class="lg:w-4/5 ml-4">
                <mat-form-field class="w-[60%]  ">
                  <mat-label>Notes</mat-label>
                  <textarea formControlName="notes" rows="4" matInput [value]="offer?.note"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

        <div class="flex justify-center py-6 ">
          <button type="submit" mat-raised-button color="primary" class="mx-6">SUBMIT</button>
          <button (click)="handleCancel()" mat-raised-button color="warn" class=" mx-6">CANCEL</button>
        </div>
      </form>

    </div>

  </div>

</div>