<div class="w-[300px] py-3 wrapper">

    <div class="relative">
        <label [for]="inputId" *ngIf="label" class="">{{label}}</label>
        <input [type]="type" [(ngModel)]="value" (change)="handleInputChangeInternal()"
            (input)="handleInputInputInternal()" (blur)="handleBlurInputInternal()" (focus)="handleFocusInputInternal()"
            class="bg-white h-[40px] w-full px-[11px] rounded-md focus:outline-none  border  shadow-lg" name="">
        <ng-container *ngIf="isHasButton">
            <button class="absolute top-[70%] right-5  translate-y-[-50%] border-l pl-4 "
                (click)="handleClickButtonInternal()"><i
                    class=" fa fa-microphone text-gray-500 hover:text-green-500 "></i>
            </button>
        </ng-container>

    </div>
</div>