<div id="root">
    <div id="side-bar">
        <!-- Sidebar component -->
        <app-sidebar></app-sidebar>
    </div>
    <div id="body">
        <div id="header">
            <!-- Header component -->
            <app-header></app-header>
        </div>
        <div id="content" class="px-[20px] bg-white max-h-full overflow-hidden ">
            <!-- Router outlet for content -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>