#root {
  width: 100%;
  height: 100vh;
  display: flex;
}
#side-bar {
  width: 180px;
  height: 100%;
}
#body {
  width: calc(100% - 200px);
}
#header {
  height: 56px;
  width: 100%;
}
#content {
  height: calc(100% - 56px);
  width: 100%;
}
